// Weights

$light: 100;
$regular: 400;
$bold: 600;

// Styles

p {
	font-family: Georgia, Times, serif;
	color: #717171;
}

@mixin hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
}

@mixin plain-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		float: left;
	}
}